@{
    Layout = null;
    ViewData["Title"] = "Скинути пароль";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>"Лист на пошту"</title>
    <link rel="stylesheet" href="~/css/2.css" />
</head>
<body>
    <div id="confirmdiv">
        <p>Для скидання паролю перейдіть за посиланням у листі відправленому на ваш email.<p>
     </div>
    </body>
</html>

