@model ForgotPasswordModel
@{
    Layout = null;
    ViewData["Title"] = "Забули пароль?";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Забули пароль?</title>
    <link rel="stylesheet" href="~/css/2.css" />
</head>
<body>
<form class="ForgotPasswordform" asp-controller="Account" asp-action="ForgotPassword" method="post">
    <center><h2>@ViewData["Title"]</h2></center>
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="group">
        <label>Введіть ваш Email</label>
        <div>
            <input class="cin" asp-for="Email" />
            @if (Model.Gone > 0)
            {
                <span class="text-danger" asp-validation-for="Email"></span>
            }
        </div>
    </div>   
        <div>
            <center><button type="submit">Відправити лист</button></center>
            <p></p>
            <div class="links">
            <center><a  asp-action="Login" asp-controller="Account">Вхід</a></center>
             </div>
        </div> 
</form>
    </body>
</html>

