@model ResetPasswordModel
@{
    Layout = null;
    ViewData["Title"] = "Скидання паролю";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Скидання паролю</title>
    <link rel="stylesheet" href="~/css/2.css" />
</head>
<body>
    <form  class="ResetPasswordform" method="post">
        <center><h2>@ViewData["Title"]</h2></center>
        <div class="group">
            <label>Новий пароль</label>
            <input class = "cin"asp-for="Password" />
            @if (Model.Gone > 0)
            {
                <span  class = "text-danger" asp-validation-for="Password"></span>
            }
        </div>
        <div class="group">
            <label>Підтвердження паролю</label>
            <input class="cin" asp-for="ConfirmPassword" />
            @if (Model.Gone > 0)
            {
                <span  class = "text-danger" asp-validation-for="ConfirmPassword"></span>
            }
        </div>
        <center><button type="submit">Скинути пароль</button></center>
    </form>
    </body>
</html>


