
@{
    Layout = null;
    ViewData["Title"] = "Успішне скидання паролю";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>"Успішне скидання паролю"</title>
    <link rel="stylesheet" href="~/css/2.css" />
</head>
<body>
    <div id="confirmdiv">
       <p>Ваш пароль успішно скинуто, для входу перейдіть на <a asp-action="Login" asp-controller="Account">сторінку входу</a></p>
    </div>
</body>
</html>
