
@{
    Layout = null;
    ViewData["Title"] = "Успіх!";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>"Лист на пошту"</title>
    <link rel="stylesheet" href="~/css/2.css" />
</head>
<body>
    <div id="confirmdiv">
        <p>Перейдіть за посиланням відправленим вам у листі на Вашу електронну адресу.</p>
    </div>
    </body>
</html>
