@model KursachV2.ViewModel.ChangePasswordModel
@{
    Layout = null;
    ViewData["Title"] = "Зміна паролю користувача";
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Зміна паролю користувача</title>
    <link rel="stylesheet" href="~/css/2.css" />
</head>
<body>
    <form class="Loginform" asp-action="ChangePassword" asp-controller="Users" method="post">
        <center><h2>Зміна паролю для користувача @Model.Email</h2></center>
        @if (Model.Gone > 0)
        {
            <div asp-validation-summary="ModelOnly"></div>
        }
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Email" />
        <div class="group">
            <label asp-for="OldPassword">Старий пароль</label><br />
            <input class="cin" type="text" asp-for="OldPassword" /><br />
            @if (Model.Gone > 0)
            {
                <span class="text-danger" asp-validation-for="OldPassword"></span>
            }
        </div>
        <div class="group">
            <label asp-for="NewPassword">Новий пароль</label><br />
            <input class="cin" type="text" asp-for="NewPassword" /><br />
            @if (Model.Gone > 0)
            {
                <span class="text-danger" asp-validation-for="NewPassword"></span>
            }
        </div>
        <br />
        <center><button type="submit">Зберегти</button></center>
        <p></p>
        <div class="links">
            <center><a asp-action="UserList" asp-controller="Users">Список користувачів</a></center>
        </div>
    </form>
    </body>
</html>
